﻿@{
      ViewBag.Title = "Contact";
      
      <style>
              input, select, textarea {
                    max-width: 1500px;
              }

              textarea { resize:vertical ; }
      </style>            
}

<div class="container">

      @*<h2>@ViewBag.Title.</h2>*@
      <h3>@ViewBag.Message</h3>

      <div class="row">
            <div class="md-col-12">
                  <button type="button" class="btn btn-primary "
                          data-toggle="modal" data-target="#myModal">Kontaktirajte nas!
                  </button>
            </div>
      </div>
      <div class="row">
            <div class="col-md-6">
                  <div class="panel panel-default">
                        <div class="panel-heading">Adresa sjedišta</div>
                        <div class="panel-body">
                              <address>
                                    One Microsoft Way<br />
                                    Redmond, WA 98052-6399<br />
                                    <abbr title="Phone">P:</abbr>
                                    425.555.0100
                              </address>
                        </div>
                  </div>
            </div>
            <div class="col-md-6">
                  <div class="panel panel-default">
                        <div class="panel-heading">Javite nam se!</div>
                        <div class="panel-body">
                              <address>
                                    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                              </address>
                        </div>
                  </div>
            </div>
      </div>
            
      <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                  <div class="modal-content">
                        <div class="modal-header">
                              <h4 class="modal-title">Kontakt forma</h4>
                        </div>
                       
                        <div class="modal-body">
                              <form method="post" action="SubmitQuery" id="formData" class="form-horizontal">
                                    <div class="form-group">
                                          <div class="col-md-6 ">
                                                <label>Ime:</label>
                                                <input type="text" name="name" value="" placeholder="Unesite ime" class="form-control">
                                          </div>
                                          <div class="col-md-6">
                                                <label>Prezime:</label>
                                                <input type="text" name="surname" value="" placeholder="Unesite prezime" class="form-control">
                                          </div>
                                    </div>
                                    <div class="col-md-12">
                                          <div class="form-group">
                                                <label> E-mail:</label>
                                                <input type="text" name="email" value="" placeholder="Unesite e-mail adresu" class="form-control">
                                                Message:
                                                <textarea rows="4" cols="50" name="message_area" @*form="formData"*@ value="" placeholder="Unesite poruku" class="form-control"></textarea>

                                                Tip poruke:
                                                <select name="message_selection" @*form="formData"*@ class="form-control">
                                                      <option value="Pohvala">Pohvala</option>
                                                      <option value="Upit">Upit</option>
                                                      <option value="Prijedlog">Poslovni prijedlog</option>
                                                      <option value="Zalba">Žalba</option>
                                                </select>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <div class="col-md-12">
                                                Pretplata na newsletter?  @Html.CheckBox("newsletter")
                                          </div>
                                    </div>
                                    <div class="modal-footer">
                                          <div class="form-group">                                               
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <input type="submit" value="Pošalji upit" class="submit btn btn-primary">
                                          </div>
                                    </div>
                              </form>
                        </div>
                        </div>
                  </div>

            </div>
  </div>

