﻿
@{
    ViewBag.Title = "ContactSuccess";
}


<div class="container">  
      <nav class="navbar">
            <ol class="breadcrumb"> 
                  <li>@Html.ActionLink("Home", "", "Home")</li>
                  <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                  <li class="active">Poruka poslana</li> 
            </ol>
      </nav>  

      <h2>Poruka uspješno poslana!</h2>
      <div class="alert alert-success fade in">                 
                  @ViewBag.Message
      </div>    
</div>

